# Dependencies
node_modules/

# Environment
.env
.env.local
.env.production
*.txt

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Documentation
*.md
*.pdf
*.save
